.boxed {
    padding-top: 10px;
    border: 1px;
    background-color: white;
    height: 50px;
  }

.container{
    margin-bottom: 20px;
    width: 4000px;
}

.row{
    padding-left: 20px;
}

.main-search{
    padding-top: 40px; 
}

.btn-save{
    width: 200px;
    height: 40px;
    margin-left: 300px;
    margin-top: 40px;
    border-radius: 5px;
    background-color: #1C7876;
    border: none ;
}


.table-headers{
    font-weight: bold;
}